---
layout: default
title: Stories
---
<ul>
    {% for story in site.stories %}
    <li class="post-teaser">
        <h2><a href="{{ story.url }}">{{ story.title }}</a></h2>
        {% if story.date %}
        <p class="post-meta">{{ story.date | date: "%B %-d, %Y" }}</p>
        {% endif %}
        {% if story.excerpt %}
        <p class="post-excerpt">{{ story.excerpt | strip_html | markdownify }}</p>
        {% endif %}
        {% assign t = story.tags | default: story.categories %}
        {% if t and t.size > 0 %}
        <p class="post-tags">Tags: {% for tag in t %}<a href="{{ '/tags/' | append: tag | slugify | append: '/' }}" rel="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}</p>
        {% endif %}
    </li>
    {% endfor %}
</ul>